{% extends 'pages/base.html' %} &nbsp;
{% load static %}
{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{% static "css/datepicker.css" %}">
    <link rel="stylesheet" href="{% static "css/cart.css" %}">
    <link rel="stylesheet" href="{% static "css/about.css" %}">
    <title>Система проведения турниров</title>


{% endblock head %}
{% block content %}
<div class="container">
    <div class="logo">
        <div class="logo-pic">
            <img src="{% static "images/logo.png" %}"  class="img-circle logo-img">
        </div> {# logo-pic #}
    </div>
    <div class="header-top">
        {{ header|safe }}
    </div><!--header-top-->
    <div class="menu-bar">
        {{ menu|safe }}
    </div> <!--menu-bar-->
    <div class="match_info">
        {{ member|safe }}
        {{ members|safe }}
    </div>
</div> <!--./container-->
{% endblock content %}
{% block javascript %}

{% endblock javascript %}